<div class="progress-spinner" *ngIf="progressSpinner">
    <mat-spinner></mat-spinner>
</div>

<div class="table-container">
    <div class="data-btn-box">
        <div class="d-flex-direction">
            <div>
                <div *ngFor="let button of periodBtn; let i = index" [class.activeBtn]="i === tabService.activeBtnIndex"
                    [class.inactiveBtn]="showDatePicker">
                    <button mat-raised-button
                    (click)="chooseBtn(i, button.data, button.period)">
                        {{ button.name }}
                    </button>
                </div>

                <div [class.activeBtn]="showDatePicker">
                    <button mat-raised-button class="calendar-btn"
                        (click)="showDatePicker = !showDatePicker; chart.destroy(); trackDate.reset()">
                        <mat-icon>calendar_month</mat-icon>
                    </button>
                </div>
            </div>

            <div class="d-flex">
                <div *ngFor="let button of rangeBtn; let i = index"
                    [class.activeBtn]="i === tabService.activeRangeIndex">
                    <button mat-raised-button (click)="loadData(button.id); 
                    getPeriod(periodBtn[tabService.activeBtnIndex].period); 
                    tabService.activeRangeIndex = i"
                    [class.d-none]="showDatePicker">
                        {{ button.name }}
                    </button>
                </div>
            </div>

            <div>
                <button mat-raised-button class="screenshot-btn" (click)="capture()" title="Take Chart-Screenshot"
                    [disabled]="showDatePicker">
                    <mat-icon>photo_camera</mat-icon>
                </button>

                <button mat-raised-button class="full-btn" (click)="fullscreenMode = true" [disabled]="showDatePicker"
                    title="Open Chart-Fullscreen">
                    <mat-icon>fullscreen</mat-icon>
                </button>
            </div>
        </div>

        <div *ngIf="showDatePicker" class="calendar-box">
            <mat-form-field appearance="fill">
                <mat-label>Enter a tracking date</mat-label>
                <mat-date-range-input [formGroup]="trackDate" [rangePicker]="picker" [max]="todayDate">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>max. 7 days</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

                <mat-error *ngIf="trackDate.controls.start.hasError('matStartDateInvalid')">Invalid start
                    date</mat-error>
                <mat-error *ngIf="trackDate.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>

            <button mat-icon-button (click)="getPeriod(0)">
                <mat-icon>check_circle</mat-icon>
            </button>
        </div>
    </div>

    <div class="chart-container" [class.fullscreen]="fullscreenMode" #screen>
        <canvas id="MyChart">{{ chart }}</canvas>

        <button *ngIf="fullscreenMode" class="exit-button" mat-raised-button (click)="fullscreenMode = false">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>
    </div>

    <div class="info">
        <div class="info-box">
            <button mat-button (click)="openExchange()">
                <mat-icon class="orange-icon">currency_exchange</mat-icon>
                <span>Exchange</span>
            </button>
        </div>

        <div class="info-box">
            <mat-icon class="orange-icon">home</mat-icon>
            <a href="{{ service.clickedCoin.links.homepage[0] }}" target="_blank">
                {{ coin.links.homepage[0] }}</a>
        </div>

        <div class="info-box">
            <mat-icon class="green-icon">arrow_upward</mat-icon>
            <span>24h-High:</span>
            <span>{{ coin.market_data.high_24h.eur }} €</span>
        </div>

        <div class="info-box">
            <mat-icon class="red-icon">arrow_downward</mat-icon>
            <span>24h-Low:</span>
            <span>{{ coin.market_data.low_24h.eur }} €</span>
        </div>

        <div class="info-box">
            <button mat-button (click)="openInfo()">
                <mat-icon class="orange-icon">info</mat-icon>
                <span>Info</span>
            </button>
        </div>
    </div>
</div>