.table-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.info {
    position: absolute;
    bottom: -6px;
    width: 100%;
    display: flex;
    justify-content: center;

    @media (max-width: 1200px) {
        bottom: -40px;
    }

    @media (max-width: 700px) {
        bottom: -140px;
        flex-direction: column;
        align-items: center;
    }

    div {
        &:first-child {
            button {
                @media (max-width: 900px) {
                    display: none;
                }
            }
        }
    }
}

.info-box {
    display: flex;
    align-items: center;
    margin-right: 24px;

    @media (max-width: 1200px) {
        margin-right: 8px;
    }

    &:last-child {
        margin-right: 0;
    }

    mat-icon {
        margin-right: 2px;

        @media (max-width: 850px) {
            font-size: 16px;
            height: 18px;
            width: 18px;
        }
    }

    span {
        color: var(--orange);

        &:last-child {
            color: white;
            margin-left: 4px;
        }

        @media (max-width: 850px) {
            font-size: 12px;
        }
    }

    a {
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: underline;
        }

        @media (max-width: 850px) {
            font-size: 12px;
        }
    }
}

.green-icon {
    color: #3de93d;
}

.red-icon {
    color: #ad0000;
}

.orange-icon {
    color: var(--orange);
}

.data-btn-box {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    position: relative;

    @media (max-width: 500px) {
        margin-left: 0;
    }

    @media (max-width: 500px) {
        margin-left: -12px;
    }

    div {
        &:first-child {
            display: flex;
        }
    }

    button {
        background: var(--bordeaux);
        margin: 12px;
        min-width: 32px;

        @media (max-width: 1200px) {
            margin: 4px;
            padding: 0px 8px;
            font-size: 12px;
        }

        &:hover {
            filter: brightness(1.3);
        }
    }

    mat-icon {
        margin-bottom: 4px;
    }
}

::ng-deep .mat-form-field-infix {
    display: flex !important;
    height: 12px !important;
}

::ng-deep .mat-icon-button {
    position: absolute;
    top: -18px;
    right: 0;
}

.fullscreen {
    position: absolute;
    // top: -105px;
    // left: -400px;
    top: -14vh;
    left: -25vw;
    height: 89vh;
    width: 98vw;
    background: var(--bg);
    z-index: 1;
    padding-top: 10vh;

    button {
        background: var(--bordeaux);
        margin: 12px;
        min-width: 32px;
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
            filter: brightness(1.3);
        }
    }
}

.full-btn {
    position: absolute;
    right: 0;
    top: 0;

    @media (max-width: 1200px) {
        display: none;
    }

}

.screenshot-btn {
    position: absolute;
    right: 74px;
    top: 0;

    @media (max-width: 1200px) {
        display: none;
    }
}

.calendar-box {
    position: relative;
    margin-left: 12px;

    button {
        position: absolute;
        left: 220px;
        top: -8px;

        @media (max-width: 1200px) {
            margin: 4px;
            padding: 0px 8px;

            mat-icon {
                font-size: 12px;
            }
        }
    }
}

.progress-spinner {
    height: 100vh;
    width: 100vw;
    background: rgb(252 252 252 / 62%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: -26vw;
    margin-top: -18vh;

    ::ng-deep .mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: var(--orange);
    }
}

.activeBtn {
    button {
        background: var(--orange);
    }
}

.inactiveBtn {
    button {
        background: var(--bordeaux);
    }
}

.chart-container {
    margin-top: -20px;
}

canvas {
    @media (max-width: 1200px) {
        margin-bottom: 24px;
    }

    @media (max-width: 700px) {
        margin-bottom: 124px;
        margin-top: 24px;
    }
}

.calendar-btn {
    @media (max-width: 1200px) {
        display: none;
    }
}