<div class="table-container">
    <div class="data-btn-box">
        <div>
            <div *ngFor="let button of periodBtn">
                <button mat-raised-button (click)="service.getChartDataByPeriod(button.data); getPeriod(button.period)">
                    {{ button.name }}
                </button>
            </div>

            <div>
                <button mat-raised-button class="full-btn" (click)="fullscreenMode = true">
                    <mat-icon>fullscreen</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="chart-container" [class.fullscreen]="fullscreenMode">
        <canvas id="MyChart">{{ chart }}</canvas>

        <button *ngIf="fullscreenMode" class="exit-button" mat-raised-button (click)="fullscreenMode = false">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>
    </div>

    <div class="info">
        <div class="info-box">
            <mat-icon class="orange-icon">home</mat-icon>
            <a href="{{ service.clickedCoin.links.homepage[0] }}" target="_blank">
                {{ coin.links.homepage[0] }}</a>
        </div>

        <div class="info-box">
            <mat-icon class="green-icon">arrow_upward</mat-icon>
            <span>24h-High:</span>
            <span>{{ coin.market_data.high_24h.eur }} €</span>
        </div>

        <div class="info-box">
            <mat-icon class="red-icon">arrow_downward</mat-icon>
            <span>24h-Low:</span>
            <span>{{ coin.market_data.low_24h.eur }} €</span>
        </div>

        <div class="info-box">
            <button mat-button (click)="openInfo()">
                <mat-icon class="orange-icon">info</mat-icon>
                <span>Info</span>
            </button>
        </div>
    </div>
</div>