<table>
    <tr>
        <th>Date</th>
        <th>Price *</th>
        <th>Volume *</th>
        <th>Market Cap *</th>
    </tr>

    <tr *ngFor="let data of dates; index as i">
        <td>{{ dates[dates.length-i] | date:'YYYY/MM/dd' }}</td>
        <td>{{ prices[prices.length-i] }}</td>
        <td>{{ volumes[volumes.length-i] }}</td>
        <td>{{ marketcaps[marketcaps.length-i] }}</td>
</table>

<span class="description">* 30-Days-Overview in € / 
    Updated on {{ updateTime | date: 'yyyy-MM-dd' }} at {{ updateTime | date: 'H:MM:SS z' }}</span>