<div class="coins-review-box">
    <div>
        <mat-icon class="search-icon">search</mat-icon>
        <input matInput class="search-input" autocomplete="off" placeholder="e.g. Btc" [(ngModel)]="searchText">
    </div>

    <mat-card *ngFor="let coin of coins | filter : searchText" (click)="service.getChoosenCoinData(coin.id)">
        <h2> <span class="cap-rank">#{{ coin.market_cap_rank }}</span> {{ coin.name }} </h2>
        <img src="{{ coin.image }}" alt="{{ coin.symbol }}">

        <div class="price-container">
            <div class="percentage-box">
                <mat-icon class="price-icon">monetization_on</mat-icon>
                <span class="price-size"> {{ coin.current_price }} </span>
            </div>

            <div class="percentage-box">
                <mat-icon *ngIf="coin.price_change_percentage_24h > 0"
                    class="positive-percentage">trending_up</mat-icon>
                <mat-icon *ngIf="coin.price_change_percentage_24h < 0"
                    class="negative-percentage">trending_down</mat-icon>
                <span [class.negative-percentage]="coin.price_change_percentage_24h < 0"
                    [class.positive-percentage]="coin.price_change_percentage_24h > 0">
                    {{ coin.price_change_percentage_24h }} % </span>
            </div>
        </div>
    </mat-card>
</div>