<div class="coins-review-box">
    <div class="header">
        <mat-icon class="search-icon">search</mat-icon>
        <input matInput class="search-input" autocomplete="off" placeholder="e.g. Btc" [(ngModel)]="searchText">
    </div>

    <mat-card *ngFor="let coin of coins | filter : searchText; let i = index"
        (click)="service.getChoosenCoinData(coin.id); 
        tabService.chartBtnInactive = false;
        tabService.marketBtnInactive = true;
        service.showClickedCoinInfo = true; 
        activeElmIndex = i"
        [class.activeElm]="i === activeElmIndex">

        <img src="{{ coin.image }}" alt="{{ coin.symbol }}">

        <div class="cap-rank">
            <span>#</span><span>{{ coin.market_cap_rank }}</span>
        </div>

        <div class="price-container">
            <div class="percentage-box">
                <mat-icon class="price-icon">monetization_on</mat-icon>
                <span *ngIf="coin.current_price > 1" class="price-size"> {{ coin.current_price.toFixed(2) }} €</span>
                <span *ngIf="coin.current_price < 1" class="price-size"> {{ coin.current_price }} €</span>
            </div>

            <div class="percentage-box">
                <mat-icon *ngIf="coin.price_change_percentage_24h > 0"
                    class="positive-percentage">trending_up</mat-icon>
                <mat-icon *ngIf="coin.price_change_percentage_24h < 0"
                    class="negative-percentage">trending_down</mat-icon>
                <span [class.negative-percentage]="coin.price_change_percentage_24h < 0"
                    [class.positive-percentage]="coin.price_change_percentage_24h > 0">
                    {{ coin.price_change_percentage_24h }} % </span>
            </div>
        </div>

        <div class="coin-name">
            <span>{{ coin.name }}</span>
        </div>
    </mat-card>
</div>