<div class="exchange-box">
    <button class="close-btn" mat-icon-button (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>

    <div class="exchange-header">
        <img src="{{ service.clickedCoin.image.small }}" alt="">
        <h2>{{ service.clickedCoin.name }} Exchange</h2>
    </div>

    <div class="exchange-container" [class.reverse]="!activeChange">
        <div class="exchange-field">
            <span *ngIf="activeChange">
                <input type="number" (keyup)="changedFirstValue($event)" [value]="value" placeholder="1">
            </span>

            <span *ngIf="!activeChange">
                {{ secondCoin || (1 / service.firstExChangeCoin).toFixed(10).toString().replace('.', ',') }}
            </span>

            <span>{{ service.clickedCoin.symbol.toUpperCase() }}</span>
        </div>

        <div>
            <button color="warn" mat-button (click)="activeChange = !activeChange">
                <mat-icon>west</mat-icon>
                <mat-icon>east</mat-icon>
            </button>
        </div>

        <div class="exchange-field">
            <!-- <span *ngIf="activeChange && service.firstExChangeCoin > 100">
                {{ firstCoin || service.firstExChangeCoin.toFixed(2).toString().replace('.', ',') }}
            </span> -->

            <span *ngIf="activeChange">
                {{ firstCoin || service.firstExChangeCoin.toFixed(10).toString().replace('.', ',') }}
            </span>

            <span *ngIf="!activeChange">
                <input type="number" (keyup)="changedSecondValue($event)" [value]="value" placeholder="1">
            </span>

            <span>EUR</span>

        </div>
    </div>


    <!-- Currency List -->
    <div class="exchange-container" *ngFor="let currency of currencyList; let i = index" [class.reverse]="!currencyActiveChange && i === coinIndex">
        <div class="exchange-field">
            <span *ngIf="currencyActiveChange || choosenCoin != currency">
                <input type="number" (keyup)="currencyChangedFirstValue($event, currency, i)" [value]="value"
                    placeholder="1">
            </span>

            <span *ngIf="!currencyActiveChange && choosenCoin == currency && i === coinIndex">
                {{ currencySecondCoin || (1 / service.clickedCoin.market_data.current_price[currency]).toFixed(10).toString().replace('.', ',') }}
            </span>

            <span>{{ service.clickedCoin.symbol.toUpperCase() }}</span>
        </div>

        <div>
            <button color="warn" mat-button (click)="currencyActiveChange = !currencyActiveChange; coinIndex = i; chooseCoin(currency)">
                <mat-icon>west</mat-icon>
                <mat-icon>east</mat-icon>
            </button>
        </div>

        <div class="exchange-field">
            <!-- <span *ngIf="currencyActiveChange && service.clickedCoin.market_data.current_price[currency] > 1000  || choosenCoin != currency">
                {{ currencyFirstCoin ||
                service.clickedCoin.market_data.current_price[currency].toFixed(2).toString().replace('.', ',') }}
            </span> -->

            <span *ngIf="currencyActiveChange || choosenCoin != currency">
                {{ currencyFirstCoin ||
                service.clickedCoin.market_data.current_price[currency].toFixed(10).toString().replace('.', ',') }}
            </span>

            <span *ngIf="!currencyActiveChange && choosenCoin == currency && i === coinIndex">
                <input type="number" (keyup)="currencyChangedSecondValue($event, currency, i)" [value]="value"
                    placeholder="1">
            </span>

            <span>{{ currency.toUpperCase() }}</span>

        </div>
    </div>


    <div class="description">
        <span>Updated on {{ today | date: 'yyyy-MM-dd' }} at {{ this.service.exChangeUpdateDate }}</span>
    </div>
</div>