::ng-deep .mat-dialog-container {
    padding: 0;
    border-radius: 24px;
}

.exchange-box {
    padding: 42px;
    position: relative;
    min-width: 50vw;
    min-height: 40vh;
    background: var(--bg);
}

.close-btn {
    position: absolute;
    color: var(--orange);
    top: 6px;
    right: 12px;
}

.exchange-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    img {
        width: 30px;
        margin-right: 6px;
    }

    h2 {
        margin: 0;
        color: var(--orange);
    }
}

.description {
    position: absolute;
    bottom: 8px;
    left: 28px;
    color: var(--orange);

    span {
        &:last-child {
            padding-left: 9px;
        }
    }
}

.exchange-field {
    width: 24vw;
    background: orange;
    border-radius: 30px;
    display: flex;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12vw;
        padding: 4px;

        &:first-child {
            border-right: 1px solid black;
        }
    }

    input {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        background: orange;
        border: none;
        text-align: center;
        color: white;

        &:focus{
            outline: none;
        }
    }
}

.exchange-container {
    display: flex;
}