<div class="exchange-box">
    <button class="close-btn" mat-icon-button (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>

    <div class="exchange-header">
        <img src="{{ service.clickedCoin.image.small }}" alt="">
        <h2>{{ service.clickedCoin.name }} Exchange</h2>
    </div>

    <div class="exchange-container" [class.reverse]="!activeChange">
        <div class="exchange-field">
            <span *ngIf="activeChange">
                <input type="number" (keyup)="changedFirstValue($event)" [value]="value" placeholder="1">
            </span>

            <span *ngIf="!activeChange">
                {{ secondCoin || (1 / this.service.firstExChangeCoin).toFixed(10).toString().replace('.', ',') }}
            </span>

            <span>{{ service.clickedCoin.symbol.toUpperCase() }}</span>
        </div>

        <div>
            <button color="warn" mat-button (click)="activeChange = !activeChange">
                <mat-icon>west</mat-icon>
                <mat-icon>east</mat-icon>
            </button>
        </div>

        <div class="exchange-field">
            <span *ngIf="activeChange && this.service.firstExChangeCoin > 100">
                {{ firstCoin || this.service.firstExChangeCoin.toFixed(2).toString().replace('.', ',') }}
            </span>

            <span *ngIf="activeChange && this.service.firstExChangeCoin < 100">
                {{ firstCoin || this.service.firstExChangeCoin.toFixed(10).toString().replace('.', ',') }}
            </span>

            <span *ngIf="!activeChange">
                <input type="number" (keyup)="changedSecondValue($event)" [value]="value" placeholder="1">
            </span>

            <span>EUR</span>

        </div>
    </div>


    <div class="description">
        <span>Updated on {{ today | date: 'yyyy-MM-dd' }} at {{ this.service.exChangeUpdateDate }}</span>
    </div>
</div>