<div class="market-container">
  <h2>Market share of the top 10 cryptocurrencies *</h2>
  <canvas id="piechart"></canvas>
</div>

<!-- <div>
  <table>
    <tr>
      <th>Date</th>
      <th>Price *</th>
      <th>Volume *</th>
      <th>Market Cap *</th>
    </tr>

    <tr *ngFor="let data of dates; index as i">
      <td>{{ dates[dates.length-i] | date:'YYYY/MM/dd' }}</td>
      <td>{{ prices[prices.length-i] }}</td>
      <td>{{ volumes[volumes.length-i] }}</td>
      <td>{{ marketcaps[marketcaps.length-i] }}</td>
  </table>

</div> -->

<span class="description">* Data in %</span>