.market-container {
  height: 100%;
  display: flex;
  position: relative;

  h2 {
    position: absolute;
    top: 0;
    left: 24px;
    color: var(--orange);
  }
}

canvas {
  height: 470px !important;
  width: 470px !important;
  margin-top: 5vh;
  margin-left: 2vw;
}

.description {
  position: absolute;
  bottom: 8px;
  left: 28px;
  color: var(--orange);

  span {
    &:last-child {
      padding-left: 9px;
    }
  }
}

.table-box {
  margin-left: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 1800px) {
    margin-left: 6vw;
  }
}

table {
  width: 100%;
  max-height: 100%;
  border-collapse: collapse;
  position: relative;

  th {
    text-align: center;
    font-size: 14px;
    background: var(--orange);
    min-width: 6vw;
    border: 1px solid white;
    padding-top: 8px;
    padding-bottom: 8px;

    &:first-child {
      min-width: 3vw;
    }
  }

  td {
    min-width: 6vw;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    border: 1px solid #864b00;
    color: #ffdbcc;

    &:first-child {
      min-width: 3vw;
    }
  }

  tr {
    &:nth-of-type(even) {
      background: #4b230c;
    }

    &:nth-of-type(odd) {
      background: #503452;
    }
  }
}

.name-td {
  cursor: pointer;

  &:hover {
      color: var(--orange);
      background: #ffffff46;
  }
}