.market-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  h2 {
    position: absolute;
    top: 0;
    left: 24px;
    color: var(--orange);
  }
}

canvas {
  height: 470px !important;
  width: 470px !important;
  margin-top: 28px;
  margin-left: 12px;
}

.description {
  position: absolute;
  bottom: 8px;
  left: 28px;
  color: var(--orange);
}