mat-card {
    position: relative;
    height: 75vh;
    width: 65vw;
    margin-left: 25vw;
    margin-top: 15vh;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 0;
    background: var(--bg);

    @media (max-width: 1500px) {
        width: 70vw;
    }

    @media (max-width: 1200px) {
        height: auto;
        margin-bottom: 2vh;
        margin-left: 1vw;
        margin-right: 1vw;
        max-width: 90vw;
        width: 90vw;
        margin-top: 35vh;
        // min-height: 500px;
    }

    @media (max-width: 450px) {
        width: 85vw;
        margin-top: 37vh;
    }

    @media (height: 600px) {
        margin-top: 40vh;
    }

    @media (max-width: 300px) {
        margin-top: 40vh;
    }
}

.btn-box {
    position: absolute;
    top: -36px;
    right: 0;
    width: 40%;
    height: 36px;
    background: var(--bg);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    display: flex;
    z-index: 1;

    @media (max-width: 650px) {
        width: 60%;
    }

    @media (max-width: 350px) {
        width: 75%;
    }

    button {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ff7714;

        &:first-child {
            border-top-left-radius: 24px !important;
            border-radius: 0;
        }

        &:last-child {
            border-top-right-radius: 24px !important;
            border-radius: 0;
        }

        span {
            @media (max-width: 650px) {
                font-size: 12px;
            }
        }
    }

    mat-icon {
        font-size: 20px;
        height: 20px;
        width: 28px;

        @media (max-width: 650px) {
            font-size: 16px;
        }
    }
}

.inactive-btn-chart {
    background: linear-gradient(to right, #536976, #292e49);
    color: white !important;
}

.inactive-btn-table {
    background: linear-gradient(to left, #292e49, #536976, #292e49);
    color: white !important;
}

.inactive-btn-market {
    background: linear-gradient(to left, #536976, #292e49);
    color: white !important;
}