<mat-card>
    <div class="btn-box">
        <button mat-button (click)="tableBtnInactive = false; chartBtnInactive = true"
            [class.inactive-btn-table]="tableBtnInactive">
            <mat-icon>table_chart</mat-icon>
            <span>Table</span>
        </button>

        <button mat-button (click)="tableBtnInactive = true; chartBtnInactive = false"
            [class.inactive-btn-chart]="chartBtnInactive">
            <mat-icon>insights</mat-icon>
            <span>Chart</span>
        </button>
    </div>

    <!-- <app-table *ngIf="!tableBtnInactive && service.showClickedCoinInfo"></app-table> -->
    <!-- <app-chart *ngIf="!chartBtnInactive && service.showClickedCoinInfo"></app-chart> -->
    <app-table *ngIf="!tableBtnInactive"></app-table>

    <app-chart *ngIf="!chartBtnInactive"></app-chart>
</mat-card>